{%extends "base.html" %}
{% load thumbnail %}
{% block title %}home{%endblock%}
{%block body %}
    <div class="row">
        {%for post in posts%}
            <div class="col-sm-6 col-md-4">
                <div class="card m-3" style="width: 18rem;">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="card-img-top" alt="...">
                    {% endthumbnail %}
                    <div class="card-body">
                        <p class="card-text">{{post.text}}</p>
                        <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary">Show image</a>
                    </div>
                </div>
            </div>
            
            
        {%empty%}
        <div class="col-sm-6 offset-3 text-center my-5 p-3">
            <h2>Welcome!</h2>
            <a href="{% url 'feed:post'%}" class="btn btn-success text-white">Upload an image</a>
        </div>
        {%endfor%}
    </div>
{%endblock%}